body {
  margin: 0;
  padding: 0;
  background: #78d6ff;
  font-family: 'Press Start 2P', monospace, Arial, sans-serif;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.clouds {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 45%;
  z-index: 2;
  pointer-events: none;
  background:
    url('https://png.pngtree.com/png-clipart/20231024/ourmid/pngtree-nube-pixel-art-png-image_10067636.png') no-repeat 10% 15%,
    url('https://png.pngtree.com/png-clipart/20231024/ourmid/pngtree-nube-pixel-art-png-image_10067636.png') no-repeat 60% 7%,
    url('https://png.pngtree.com/png-clipart/20231024/ourmid/pngtree-nube-pixel-art-png-image_10067636.png') no-repeat 83% 28%;
}

.center-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.subtitle {
  color: #F7DF1E;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px #263238;
  margin-bottom: 35px;
}

.title {
  color: #fff;
  background: #053353;
  border: 8px solid #141259;
  font-size: 5rem;
  width: fit-content;
  padding: 0 36px;
  text-shadow: 4px 4px #454d7d;
  font-family: 'Press Start 2P', monospace, Arial, sans-serif;
  letter-spacing: 8px;
  border-radius: 12px;
  margin-bottom: 28px;
}

.start-btn {
  background: #f04522;
  color: #fff;
  font-family: 'Press Start 2P', monospace, Arial, sans-serif;
  font-size: 2em;
  border: 6px solid #fff;
  border-radius: 9px;
  padding: 16px 42px;
  cursor: pointer;
  box-shadow: 0 4px #a82e14;
  text-shadow: 2px 2px #141259;
}

.ground {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 90px;
  background: url('https://i.imgur.com/Sw9blVG.png') repeat-x;
}

@media (max-width: 600px) {
  .title { font-size: 2.5rem; }
  .subtitle { font-size: 1rem; }
  .start-btn { font-size: 1.2em; padding: 10px 22px;}
  .ground { height: 60px; }
}
